		* {
			box-sizing: border-box;
		}

		img {
			width: 100%;
		}

		a:link {
			text-decoration: none;
		}


		.events .event_buy_knap {
			grid-column: 11 / 13;
			align-self: center;
			width: 100%;
		}

		.events .event_buy {
			padding: 10px;
			height: auto;
			margin: auto;
			margin-right: 0;
			width: 100%;
			background-color: white;
			border: 1px solid var(--blue);
			transition: 0.3s;
			font-size: 1.4rem;
			text-align: center;
			white-space: nowrap;
		}

		.events .event_buy:hover {
			background-color: var(--blue);
			color: var(--red_tint);
			cursor: pointer;
		}

		.events .event_door {
			padding: 10px;
			height: auto;
			margin: auto;
			margin-right: 0;
			width: 100%;
			font-size: 1.4rem;
			white-space: nowrap;
		}
