@font-face {
    font-family: 'HUSET';
    src: url('HUSET.eot');
    src: url('HUSET.eot?#iefix') format('embedded-opentype'),
        url('HUSET.woff2') format('woff2'),
        url('HUSET.woff') format('woff'),
        url('HUSET.ttf') format('truetype'),
        url('HUSET.svg#HUSET') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('AvenirNextLTPro-Italic.eot');
    src: url('AvenirNextLTPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextLTPro-Italic.woff2') format('woff2'),
        url('AvenirNextLTPro-Italic.woff') format('woff'),
        url('AvenirNextLTPro-Italic.ttf') format('truetype'),
        url('AvenirNextLTPro-Italic.svg#AvenirNextLTPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('AvenirNextLTPro-Demi.eot');
    src: url('AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('AvenirNextLTPro-Demi.woff') format('woff'),
        url('AvenirNextLTPro-Demi.ttf') format('truetype'),
        url('AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('AvenirNextLTPro-DemiItalic.eot');
    src: url('AvenirNextLTPro-DemiItalic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextLTPro-DemiItalic.woff2') format('woff2'),
        url('AvenirNextLTPro-DemiItalic.woff') format('woff'),
        url('AvenirNextLTPro-DemiItalic.ttf') format('truetype'),
        url('AvenirNextLTPro-DemiItalic.svg#AvenirNextLTPro-DemiItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('AvenirNextLTPro-Regular.eot');
    src: url('AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('AvenirNextLTPro-Regular.woff') format('woff'),
        url('AvenirNextLTPro-Regular.ttf') format('truetype'),
        url('AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------- */

:root {
    font-size: 62.5%;

    --blue: #24195d;
    --blue_tint: #dff2fd;

    --red: #d3072a;
    --red_tint: #fce5f1;
}

body {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    color: black;

    /*clear all space*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------- */

/*Title*/

h1 {
    font-size: 8rem;
    font-family: 'HUSET';
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    color: var(--red);
    margin: 0;
    text-align: center;
}

h1 span {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2px;
}

.title {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
}

/* ---------------------------- */

/*Text styles*/

h2 {
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 15px;
    margin-top: 50px;
    color: var(--blue);
}

h3 {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 10px;
    margin-top: 40px;
    color: var(--blue);
}

p {
    line-height: 1.9rem;
}

a {
    color: var(--red);
    text-decoration: none;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* ---------------------------- */

/* Content */

header {
    position: relative;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}

.logo img {
    width: 80%;
}


main {
    width: 100%;
    position: relative;
    padding-top: 100px;
}

.standard {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 750px;
    margin: auto;
}

/* ---------------------------- */

/*nav*/

nav {
    height: 100px;
    width: 100%;
    background-color: var(--blue);
}

nav a {
    color: var(--red_tint);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

nav a:hover {
    color: var(--red);
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

nav li {
    display: inline;
    padding: 15px;
    cursor: pointer;
}

/* ---------------------------- */

/*splash img*/

.splash {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.splash img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    -webkit-animation: zoomin 200s infinite;
}

@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.3);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

/* ---------------------------- */

/*events*/

.event-data {
    border-top: 1px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-top-style: solid;
    width: 100%;
    margin: 0;
    margin-top: -1px;
}

.info_01 {
    grid-column: 1 / 3;
    padding: 10px;
    margin-top: 2px;
}

.event_dato_d {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}

.event_dato_m {
    margin-bottom: 0;
    margin-top: 8px;
    font-size: 1.8rem;
}

.event_time {
    margin-bottom: 0;
    margin-top: 5px;
    font-style: italic;
}

.info_02 {
    grid-column: 3 / 9;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.event_genre {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-style: italic;
}

.info_03 {
    grid-column: 9 / 11;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}


.event_title {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 3.2rem;
    letter-spacing: 0rem;
    line-height: 3.3rem;
}

.event_price {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
}

button {
    grid-column: 11 / 13;
    padding: 10px;
    height: 40px;
    margin: auto;
    margin-right: 0;
    width: 100%;
    background-color: white;
    border: 1px solid var(--blue);
    transition: 0.3s;
    font-size: 1.4rem;
}

button:hover {
    background-color: var(--blue);
    color: var(--red_tint);
    cursor: pointer;
}

/*the accordion panel*/

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    cursor: url(/img/open.png), auto;
    padding: 0;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: var(--red_tint);
}

.active {
    cursor: url(/img/close.png), auto;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

/* ---------------------------- */

/*footer*/

footer {
    height: 100px;
    width: 100%;
    background-color: var(--blue);
    margin-top: 50px;
}

/* ---------------------------- */
