/* ---------------------------- */

:root {
	font-size: 62.5%;

	--blue: #24195d;
	--blue_tint: #dff2fd;

	--red: #d3072a;
	--red_tint: #fce5f1;
}

body {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 2.5rem;
	letter-spacing: 0.05rem;
	color: black;

	/*clear all space*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*responsive img*/
img {
	width: 100%;
}

/* ---------------------------- */

/*Title*/

h1 {
	font-size: 6rem;
	line-height: 7rem;
	font-family: 'HUSET';
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	color: var(--red);
	margin: 0;
	text-align: center;
}

h1 span {
	background-color: white;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 2px;
}

.page_title {
	position: absolute;
	top: -25px;
	left: 0;
	right: 0;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}


/* ---------------------------- */

/*Text styles*/

h2 {
	font-weight: bold;
	font-size: 2.2rem;
	margin-bottom: 15px;
	color: var(--blue);
}

h3 {
	font-weight: bold;
	font-size: 1.8rem;
	margin-bottom: 10px;
	margin-top: 40px;
	color: var(--blue);
}

p {
	line-height: 1.9rem;
}

a {
	color: var(--red);
	text-decoration: none;
	font-style: italic;
}

a:hover {
	text-decoration: underline;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

/* ---------------------------- */

/* Content */

header {
	position: relative;
	height: 120px;
	width: 100%;
	background-color: var(--blue);
	transition: 1s ease;
}

header.show {
	height: 175vh;
	padding-bottom: 20px;
	z-index: 500;
}

.logo {
	position: absolute;
	top: 30px;
	left: 30px;
}

.logo img {
	width: 180px;
}

.logo:hover {
	transform: scale(1.1);
	transition: 1s ease;
}

main {
	width: 100%;
	position: relative;
	padding-top: 100px;
}

.standard {
	padding-left: 30px;
	padding-right: 30px;
	max-width: 960px;
	margin: auto;
}

/* ---------------------------- */

/*nav - mobile*/

nav {
	opacity: 0;
	padding-top: 100px;
	transition: 1s ease;
}

nav a {
	color: var(--red_tint);
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	display: block;
	padding: 20px;
}

nav a:hover {
	color: var(--red);
	text-decoration: none;
}

nav ul {
	display: block;
	width: 100%;
	justify-content: center;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

nav li {
	cursor: pointer;
}

nav ul li {
	position: relative;
	font-size: 1.5em;
	display: block;
}

nav .dropdown > ul {
	width: 100%;
	height: 0;
	opacity: 0;
	display: block;
	position: relative;
	z-index: 50;
	overflow: hidden;
	transition: 1s ease-out;
}

nav .dropdown > ul li {
	white-space: nowrap;
	font-size: 1em;
}

nav .dropdown.show {
	height: 175vh;
	overflow: visible;
	opacity: 1;
	background-color: var(--blue);
}

nav.show {
	opacity: 1;
}

/* navigation-knap i højre hjørne i mobile view */

.nav-knap {
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
	height: auto;
	line-height: 0;
	padding: 25px;
	z-index: 100;
}

.burger {
	cursor: pointer;
	background: transparent;
	border: none;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 2px;
	background-color: #fff;
	margin: 9px 0;
	transition: 0.4s;
	box-shadow: 1px 1px 10px #000, 1px 1px 10px #ccc;
}

.burger:hover {
	transform: scale(1.2);
	transition: 1s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 9px);
	transform: rotate(-45deg) translate(-8px, 9px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-7px, -18px);
	transform: rotate(45deg) translate(-7px, -7px);
	box-shadow: 1px 1px 10px transparent, 1px 1px 10px transparent;
}

:focus {
	outline: 0;
}

/*pulsering for UX - - - klik eller luk, og brug ikke tilbageknap*/

.pulse {
	animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	80% {
		transform: scale(1);
	}

	90% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}

/* ---------------------------- */

/*splash img*/

.splash {
	width: 100%;
	height: 400px;
	overflow: hidden;
}

.splash img {
	display: block;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	-webkit-animation: zoomin 200s infinite;
	/*	margin-top: -5%;*/
}

@-webkit-keyframes zoomin {
	0% {
		-webkit-transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.3);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

/* ---------------------------- */

/*forsiden*/

.kommende_events {
	background-color: #fff;
	color: #24195d;
}

.kommende_events .content {
	width: 75%;
	margin: 0 auto;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 30px;
}

.kommende_events .event-wrapper {
	position: relative;
}

.kommende_events .event-wrapper:hover {
	transition: all 0.5s ease-in-out;
	opacity: 0.5;
	cursor: pointer;
}

.kommende_events .rubrik {
	grid-column: 1 / -1;
}

.kommende_events .dato-box {
	position: absolute;
	padding: 13px 16px;
	top: -10px;
	left: -10px;
	background-color: #24195d;
	color: #fff;
	text-align: center;
	border-right: 7px solid #fff;
	border-bottom: 7px solid #fff;
	line-height: 130%;
	z-index: 30;
}

.kommende_events .dato {
	font-size: 150%;
}

.kommende_events .maaned {
	text-transform: uppercase;
	font-size: 70%;
}

.kommende_events .billede {
	max-height: 30vw;
	overflow: hidden;
	z-index: -1;
}

.kommende_events .sted {
	font-style: italic;
}

.kommende_events h2 {
	font-weight: bold;
	font-size: 2rem;
	margin-top: 0;
}

.kommende_events .postlistview div:first-letter {
	text-transform: uppercase;
}

.kommende_events .alle_events_knap {
	align-self: center;
	margin: auto;
	grid-column: 1;
}

.kommende_events .alle_events {
	padding: 10px;
	width: 100%;
	background-color: var(--blue);
	transition: 0.3s;
	font-size: 1.4rem;
	text-align: center;
	color: white;
	border: 1px solid var(--blue);
	text-decoration: none;
}

.kommende_events .alle_events:hover {
	background-color: #fff;
	color: var(--blue);
	border: 1px solid var(--blue);
	text-decoration: none;
}


.forsidetext {
	grid-column: 1 / 4;
	margin-top: 50px;
/*
	background-color: var(--red_tint);
	padding: 30px;
*/
}

/* ---------------------------- */


/*        style af tilmeldingsblanket*/

#tilmeld {
	background-color: #fbe4ef;
	width: 20vh;
	height: auto;
	border-radius: 3.5px;
	border: none;
	text-align: center;
	position: fixed;
	right: 2vw;
	bottom: 2vw;
	z-index: 300;
	cursor: pointer;
}

#tilmeld p {
	color: #26225c;
	font-weight: bold;
}

/* css der bliver kaldt nede i javascript´en der gør at modal vinduet bliver åbnet*/

#modal.vis {
	opacity: 1;
	pointer-events: all;
}

/* css til luk knappen*/

#close {
	height: 20px;
	width: 50px;
	border-radius: 3.5px;
	border: none;
	background-color: #fbe4ef;
	color: #26225c;
	margin: 3px;
}

/* css til luk knappens hover*/

#close:hover,
#close:focus {
	color: #26225c;
	text-decoration: none;
	cursor: pointer;
	margin: 5px;
}


/* css til modal vinduet*/

#modal {
	background-color: rgba(251, 228, 239, 0.9);
	opacity: 0;
	pointer-events: none;
	transition: all 1s;
	position: fixed;
	z-index: 300;
	padding: 30px;
	/*            display: none;*/
}

/* css til model content*/

#modal-content {
	margin: 5px;
}

/* css til submit knappen */

input[type=submit] {
	width: 50px;
	height: 25px;
	background-color: #26225c;
	color: white;
	font-size: 15px;
	text-align: center;
	margin: 5px;
	border-radius: 3.5px;
	float: right;
}

/* css til email feltet*/

input[type=email]:hover {
	background-color: rgba(38, 34, 92, 0.47);
	border-radius: 3.5px;
}

/* css til navne feltet*/

input[type=text]:hover {

	background-color: rgba(38, 34, 92, 0.47);
	border-radius: 3.5px;
}

/* css til erklæring feltet*/

input[type=checkbox] {

	background-color: rgba(38, 34, 92, 0.47);
	margin-right: -0;
	margin-right: 5px;


}

/* css til de overordnede input*/

input {
	border-radius: 3.5px;
	margin: 5px;
}


/* media screen til blankettens placering*/

@media screen and (min-width: 425px) {
	#modal {
		right: 10vw;
		top: 20vw;
		width: 80vw;
		height: 80vw;
	}
}

/* media screen til blankettens placering*/

@media screen and (min-width: 730px) {
	#modal {
		width: 50vw;
		height: 50vw;
		right: 25vw;
		top: 10vw;
	}
}

/* media screen til blankettens placering*/

@media screen and (min-width: 1125px) {
	#modal {
		width: 30vw;
		height: 50vw;
		right: 0vw;
		bottom: 0vw;
	}
}


/* ---------------------------- */

/*events*/

.event-data {
	border-top: 1px;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-top-style: solid;
	width: 100%;
	margin: 0;
	margin-top: -1px;
	background-color: white;
}

.info_01 {
	grid-column: 1 / 4;
	padding: 10px;
	padding-right: 50%;
	margin-top: 5px;
	text-align: center;
	align-self: center;
}

.event_dato_d {
	margin: 0;
	font-size: 3rem;
	font-weight: bold;
}

.event_dato_m {
	margin-bottom: 0;
	margin-top: 8px;
	font-size: 1.8rem;
}

.event_time {
	margin-bottom: 0;
	margin-top: 5px;
	font-style: italic;
}

.info_02 {
	grid-column: 4 / 13;
	padding: 10px;
	margin-top: auto;
	margin-bottom: auto;
}

.event_genre {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.8rem;
	font-style: italic;
}

.info_03 {
	grid-column: 4 / 8;
	padding: 10px;
	margin-top: auto;
	margin-bottom: auto;
	text-align: left;
	padding-right: 25%;
}

.event_title {
	margin-bottom: 0;
	margin-top: 0;
	font-size: 3.2rem;
	letter-spacing: 0rem;
	line-height: 3.3rem;
}

.event_price {
	margin: 0;
	font-size: 1.4rem;
	font-weight: bold;
	align-self: center;
}

.event_buy_knap,
.event_door {
	text-align: center;
}

.events .event_buy_knap {
	grid-column: 8 / 13;
	justify-self: end;
	padding-right: 10px;
}

.events .event_buy {
	padding: 10px;
	height: auto;
	width: 100%;
	background-color: white;
	border: 1px solid var(--blue);
	transition: 0.3s;
	font-size: 1.4rem;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
}

.events .event_buy:hover {
	background-color: var(--blue);
	color: var(--red_tint);
	cursor: pointer;
}

.events .event_door {
	width: 100%;
	font-size: 1.4rem;
	white-space: nowrap;
	padding-bottom: 10px;
}

.events .detaljer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.events .imagebar {
	grid-column: 1 / 3;
	margin-top: 20px;
}

.events .billede {
	line-height: 0;
	margin-bottom: 20px;
}

.events .sidebar {
	grid-column: 1 / 3;
	margin-top: 20px;
	margin-bottom: 40px;
}

.events .sted {
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.events .content {}

.events .content::before {
	content: "Eventdetaljer:";
	font-weight: bold;
}

/*the accordion panel*/

/* Style the buttons that are used to open and close the accordion panel */

.events .accordion {
	cursor: url(/img/open.png), auto;
	padding: 7px;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.events .active,
.events .accordion:hover {
	background-color: var(--red_tint);
}

.events .active {
	cursor: url(/img/close.png), auto;
}

/* Style the accordion panel. Note: hidden by default */

.events .panel {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease-out;
}

/* ---------------------------- */

/*css til om teksten*/

.splash .text {
	font-family: 'HUSET';
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	color: white;
	font-size: 25px;
	padding: 8px 12px;
	position: absolute;
	bottom: 75px;
	width: 100%;
	text-align: right;
	background: #24195d;
	width: auto;
}

.splash .mySlides {
	display: none;
}

/*css til slide img*/

.splash .mySlides fade img {
	display: block;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}


/* Slideshow container */

.splash .slideshow-container {
	/*    max-width: 1000px;*/
	position: relative;
	margin: auto;
	width: 100%;
	height: 400px;
	overflow: hidden;
}

/* Next & previous knapper css */

.splash .prev {
	cursor: pointer;
	position: absolute;
	left: 0vw;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #d3072a;
	font-weight: bold;
	font-size: 30px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.splash .next {
	cursor: pointer;
	position: absolute;
	top: 37.5%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #d3072a;
	font-weight: bold;
	font-size: 30px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, kommer der en mørkere bagrund på knapperne */

.splash .prev:hover,
.splash .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */

.splash .dot {
	cursor: pointer;
	height: 7px;
	width: 7px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	z-index: 100;
}

.splash .active,
.splash .dot:hover {
	background-color: #717171;
}

/* Fading animation */

.splash .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {

	.splash .prev,
	.splash .next,
	.splash .text {
		font-size: 11px;
	}
}


/*

--------------------------------
*/


/*Husets etager*/

.etager {
	padding-left: 30px;
	padding-right: 30px;
	max-width: 960px;
	margin: auto;
}

.etager_single {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 20px;
	margin-top: 70px;
	border-bottom: 1px;
	border-bottom-style: dotted;
	padding-bottom: 30px;
}

.etager_img {
	grid-column: 1 / 9;
}

.etager_img img {
	display: block;
	width: 100%;
	height: 400px;
	object-fit: cover;
	overflow: hidden;
	cursor: pointer;
}

.etager_txt {
	grid-column: 1 / 9;
}

.etager h2 {
	margin-top: 0;
}

.etager .linkwrapper {
	margin-top: 30px;
}

.etager .etager_link {
	padding: 10px;
	width: 100%;
	background-color: var(--blue);
	transition: 0.3s;
	font-size: 1.4rem;
	text-align: center;
	color: white;
	border: 1px solid var(--blue);
	cursor: pointer;
}

.etager .etager_link:hover {
	background-color: #fff;
	color: var(--blue);
	border: 1px solid var(--blue);
	text-decoration: none;
}


/* ---------------------------- */


/*footer*/

footer {
	width: 100%;
	background-color: var(--blue);
	margin-top: 80px;
	padding: 25px;
}

footer .content {
	grid-template-columns: repeat(2, 1fr);
	max-width: 960px;
	margin: 0 auto;
	display: grid;
	grid-column-gap: 30px;
}

footer.forside .content {
	max-width: 75%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 30px;
}

footer p {
	color: var(--red_tint);
	margin-bottom: 3px;
	margin-top: 0;
}

.footer_opening a {
	color: var(--red_tint);
}

.footer_social {
	margin-top: 20px;
}

.footer_social a {
	color: var(--red_tint);
	font-size: 1.7rem;
}

.footer_social a:hover {
	text-decoration: none;
	color: var(--red);
}

.socicon-instagram:before {
	content: "\e044";
}

.socicon-facebook:before {
	content: "\e028";
}

.socicon-twitter:before {
	content: "\e08d";
}

.socicon-flickr:before {
	content: "\e02d";
}

/* ---------------------------- */

/*- - - - - - - - - - - - - media queries 768px - - - - - - - - - - - - -*/


@media screen and (min-width: 768px) {


	h1 {
		font-size: 8rem;
	}

	.kommende_events .content {
		grid-template-columns: repeat(2, 1fr);
	}

	.kommende_events .billede {
		max-height: 15vw;
	}

	.kommende_events .alle_events_knap {
		grid-column: 1/2;
	}

	.info_01 {
		grid-column: 1 / 3;
	}

	.info_02 {
		grid-column: 3 / 9;
	}

	.info_03 {
		grid-column: 9 / 11;
		padding: 10px;
		margin-top: auto;
		margin-bottom: auto;
		text-align: right;
		padding-right: 25%;
	}

	.events .event_buy_knap {
		grid-column: 11 / 13;
		align-self: center;
		width: 100%;
	}

	footer .content {
		grid-template-columns: repeat(3, 1fr);
	}

	footer.forside .content {
		grid-template-columns: repeat(3, 1fr);
	}

	.footer_social {
		margin-top: 0;
	}
}

/*- - - - - - - - - - - - - media queries 980px - - - - - - - - - - - - -*/

@media screen and (min-width: 980px) {

	/*nav - desktop */

	nav {
		opacity: 1;
		padding-top: 50px;
	}

	nav a {
		color: var(--red_tint);
		text-decoration: none;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1.2rem;
		letter-spacing: 0.1rem;
		padding: 10px 0 10px 0;
	}

	nav a:hover {
		color: var(--red);
		text-decoration: none;
	}

	nav ul {
		display: flex;
		width: auto;
		justify-content: center;
		flex-direction: row;
		list-style: none;
		margin: 0;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}

	nav li {
		padding: 15px;
		cursor: pointer;
	}

	nav ul li {
		position: relative;
		font-size: 1.5em;
		display: block;
		text-align: left;
	}

	nav .dropdown > ul {
		margin-left: -15px;
		height: 0;
		width: auto;
		opacity: 0;
		display: block;
		position: absolute;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		padding: 12px 16px;
		z-index: 50;
		padding: 15px;
		overflow: hidden;
		transition: 0.5s ease-out;
	}

	nav .dropdown > ul li {
		white-space: nowrap;
		padding: 0 0em;
		font-size: 1em;
	}

	nav .dropdown:hover > ul {
		height: auto;
		overflow: visible;
		opacity: 1;
		background-color: var(--blue);
	}

	nav.show {
		display: block;
	}


	nav {
		display: block;
	}

	nav ul {
		justify-content: flex-end;
		margin-right: 30px;
	}

	.burger {
		display: none;
	}

}

/*- - - - - - - - - - - - - media queries 1080px - - - - - - - - - - - - -*/

@media screen and (min-width: 1080px) {

	nav ul {
		margin-left: 20%;
	}

	.kommende_events .content {
		grid-template-columns: repeat(3, 1fr);
	}

	.kommende_events .billede {
		max-height: 10vw;
	}

	.kommende_events .alle_events_knap {
		grid-column: 1;
	}

	.event-data {
		border-top: 1px;
		border-bottom: 1px;
		border-bottom-style: solid;
		border-top-style: solid;
		width: 100%;
		margin: 0;
		margin-top: -1px;
		background-color: white;
	}

	.info_01 {
		grid-column: 1 / 3;
		padding: 10px;
		padding-right: 50%;
		margin-top: 5px;
		text-align: center;
		align-self: center;
	}

	.event_dato_d {
		margin: 0;
		font-size: 3rem;
		font-weight: bold;
	}

	.event_dato_m {
		margin-bottom: 0;
		margin-top: 8px;
		font-size: 1.8rem;
	}

	.event_time {
		margin-bottom: 0;
		margin-top: 5px;
		font-style: italic;
	}

	.info_02 {
		grid-column: 3 / 9;
		padding: 10px;
		margin-top: auto;
		margin-bottom: auto;
	}

	.event_genre {
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 1.8rem;
		font-style: italic;
	}

	.info_03 {
		grid-column: 9 / 11;
		padding: 10px;
		margin-top: auto;
		margin-bottom: auto;
		text-align: right;
		padding-right: 25%;
	}


	.event_title {
		margin-bottom: 0;
		margin-top: 0;
		font-size: 3.2rem;
		letter-spacing: 0rem;
		line-height: 3.3rem;
	}

	.event_price {
		margin: 0;
		font-size: 1.4rem;
		font-weight: bold;
		align-self: center;
	}

	.event_buy_knap,
	.event_door {
		text-align: center;

	}

	.events .event_buy_knap {
		grid-column: 11 / 13;
		align-self: center;
		width: 100%;
	}

	.events .event_buy {
		padding: 10px;
		height: auto;
		margin: auto;
		width: 100%;
		background-color: white;
		border: 1px solid var(--blue);
		transition: 0.3s;
		font-size: 1.4rem;
		text-align: center;
		white-space: nowrap;
		text-decoration: none;
	}

	.events .event_buy:hover {
		background-color: var(--blue);
		color: var(--red_tint);
		cursor: pointer;
	}

	.events .event_door {
		width: 100%;
		font-size: 1.4rem;
		white-space: nowrap;
	}

	.events .detaljer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		background-color: var(--red_tint);
	}

	.events .imagebar {
		padding: 0 0 20px 20px;
		grid-column: 1;
	}

	.events .billede {
		line-height: 0;
	}

	.events .sidebar {
		padding: 0 75px 40px 20px;
	}

	.events .sidebar {
		grid-column: 2;
		margin-top: 20px;
		margin-bottom: 40px;
	}

	.events .sted {
		font-size: 1.8rem;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.events .content {}

	.events .content::before {
		content: "Eventdetaljer:";
		font-weight: bold;
	}

	footer {
		padding: 25px 0 25px 0;
	}

	footer .content {
		grid-template-columns: repeat(4, 1fr);
	}

	footer.forside .content {
		grid-template-columns: repeat(4, 1fr);
	}

	.footer_social {
		grid-column: 4;
		text-align: right;
	}
}

/*- - - - - - - - - - - - - media queries 1280px - - - - - - - - - - - - -*/


@media screen and (min-width: 1280px) {

	nav ul {
		justify-content: center;
		margin-right: 0;
		margin-left: 5%;
	}

	.kommende_events .content {
		grid-template-columns: repeat(5, 1fr);
	}

	.kommende_events .alle_events_knap {
		grid-column: 2;
	}


	/* ---------------------------- */


	.etager {
		padding-left: 30px;
		padding-right: 75px;
		max-width: 960px;
		margin: auto;
	}

	.etager_single {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-gap: 20px;
		margin-top: 70px;
		border-bottom: 1px;
		border-bottom-style: dotted;
		padding-bottom: 30px;
	}

	.etager_img {
		grid-column: 1 / 4;
	}

	.etager_img img {
		display: block;
		width: 100%;
		height: 200px;
		object-fit: cover;
		overflow: hidden;
		cursor: pointer;
	}

	.etager_txt {
		grid-column: 4 / 9;
		padding-left: 10px;
	}

	.etager h2 {
		margin-top: 0;
	}

	.etager .linkwrapper {
		margin-top: 30px;
	}

	.etager .etager_link {
		padding: 10px;
		width: 100%;
		background-color: var(--blue);
		transition: 0.3s;
		font-size: 1.4rem;
		text-align: center;
		color: white;
		border: 1px solid var(--blue);
		cursor: pointer;
	}

	.etager .etager_link:hover {
		background-color: #fff;
		color: var(--blue);
		border: 1px solid var(--blue);
		text-decoration: none;
	}
}
